<!-- Fixed navbar -->
<header>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand"
               href="#">
                <fa-icon [icon]="herbsAndSpicesLogo"></fa-icon>
                Herbs and Spices</a>
            <div class="collapse navbar-collapse"
                 id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="#">Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- ---------------- -->
<main class="mt-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-white">
            <h1 class="mt-5">Welcome to {{title}}!</h1>
            <p class="lead">This application consists of a bunch herbs and spices. You can take a more detailed look at them later.</p>
        </div>
    </div>
    <div class="container">
        <p>For now let's take a look at what we've got:</p>
        <ul>
            <li *ngFor="let herbOrSpice of herbsAndSpices">
                <h2>{{herbOrSpice.name}}</h2>
            </li>
        </ul>
    </div>
</main>
